version: "3.9"

services:
    mysql:
        image: 'mysql/mysql-server:8.0'
        platform: 'linux/amd64'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - db_data:/var/lib/mysql

    octobercms:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: octobercms_app
        ports:
            - "8000:8000"
        environment:
            APP_ENV: local
            APP_DEBUG: true
            DB_CONNECTION: mysql
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
        depends_on:
            - mysql
        volumes:
            - .:/var/www/html
        working_dir: /var/www/html
        command: php artisan serve --host=0.0.0.0 --port=8000

volumes:
    db_data:
