##
title = "Home"
url = "/"
layout = "home"
is_hidden = 0
==
<?php
use Hmones\Website\Models\Topic;
use Hmones\Website\Models\Slider;

public function onStart(){
$this['news'] = Topic::where('category',0)->orderBy('published_at','desc')->take(6)->get();
$this['main_slides'] = Slider::where('position','main')->orderBy('display_order', 'asc')->get();
$this['secondary_slides'] = Slider::where('position','main2')->orderBy('display_order', 'asc')->get();
}
?>
==
<div class="main-slider">
    {% for slide in main_slides %}
    <div class="ui placeholder basic segment slide">
        {% if slide.image.extension() == 'mp4' %}
        <video style="height:90vh;width:100vw;" autoplay loop muted playsinline src="{{slide.image.path}}" class="slide image custom css"></video>
        {% else %}
        <img alt="{{slide.title}}" class="slide image custom css" src="{{slide.image.getThumb('1900','800',{'mode':'crop'})}}" />
        {% endif %}
        <div>
            {% if slide.title != '' %}
            <h1 class="ui inverted centered header" style="margin-bottom: 0px;padding-bottom:5px;">
                {{slide.title}}
            </h1>
            {% endif %}
            {% if slide.subtitle != '' %}
            <h3 class="ui inverted centered header" style="margin-top:0px;padding-bottom:5px;">
                {{slide.subtitle}}
            </h3>
            {% endif %}
            {% if slide.btn_txt != '' %}
            <a class="ui pink large button" href="{{slide.link}}">{{slide.btn_txt}}</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="column">
            <div class="ui header">{{'pages.home.aboutsection.header'|_}}</div>
            <div class="ui basic segment">
                <p>
                    {{'pages.home.aboutsection.content'|_}}
                </p>
            </div>
            <div class="ui divider"></div>
        </div>
    </div>
    <h1 class="ui centered header" style="margin-bottom: 40px;">{{'pages.home.news'|_}}</h1>
    <div class="ui {% if news.count() < 2 %} one {% else %} three {% endif %} stackable cards">
        {% for topic in news %}
        <div class="ui raised card" style="box-shadow:none;">
            <a href="{{'topic'|page({'slug':topic.slug, 'category':category_name})}}">
                <div class="image">
                    <img class="ui image topicImage" src="{{topic.image.getThumb('300','300', {'mode':'crop'})}}" width="100%">
                </div>
                <div class="content" style="padding-right:0;padding-left:0;">
                    <a class="header" href="{{'topic'|page({'slug':topic.slug, 'category':category_name})}}">{{str_limit(topic.title, 60)}}</a>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% put scripts %}
<script>
    $('.main-slider').slick({
    {% if this.site.locale == 'ar'%}
    rtl:true,
    {% endif %}
    dots:true,
        autoplay: true,
        autoplaySpeed: 2000,
        infinite: true,
    });
</script>
{% endput %}
