##
description = "Default layout"
==
<! DOCTYPE html>
<html {% if activeLocale =='ar'%} dir="rtl" lang="ar" {% endif %}>

<head>
    <title>NAAS network homepage </title>
    {% if activeLocale == 'ar' %}
    <link rel="stylesheet" href="{{['assets/dist/semantic.rtl.min.css','assets/css/styles.css','assets/css/rtl.css']|theme}}">
    {% else %}
    <link rel="stylesheet" href="{{['assets/dist/semantic.min.css','assets/css/styles.css']|theme}}">
    {% endif %}
    <link rel="shortcut icon" href="{{'assets/fav.png'|theme}}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{'assets/slick/slick.css'|theme}}"/>
    <link rel="stylesheet" type="text/css" href="{{'assets/slick/slick-theme.css'|theme}}"/>
    {% styles %}
</head>

<body>
<!-- Nav -->
{% partial 'navigation' items=staticMenu.menuItems %}

<div class="pusher">
    <div class="ui container" id="FlashMessage">
        {% partial 'flash' %}
    </div>
    {% page %}
    {% component 'cookiesBar' %}
    {% partial 'footer' %}

</div>

<script type="text/javascript"
        src="{{['assets/js/jquery-3.5.1.min.js','assets/dist/semantic.min.js', 'assets/slick/slick.min.js']|theme}}">
</script>
{% framework %}
{% scripts %}
</body>

</html>
