[viewBag]
==
<footer>
    <div class="ui padded center aligned segment"
         style="margin-bottom:0; margin-top:100px; border:none;
            display:flex; justify-content:center; align-items:center; gap:2rem;">

        <a href="mailto:info@naasnetwork.org"
           style="color:#979797; display:flex; flex-direction:column; align-items:center; text-align:center;">
            <img class="ui tiny image" src="{{'assets/images/naas-diamond.png'|theme}}" style="width:25px" />
            <div class="ui secondary link header">{{'footer.contactlink'|_}}</div>
        </a>

        <a href="{{ 'impresum' | staticPage }}"
           style="color:#979797; display:flex; flex-direction:column; align-items:center; text-align:center;">
            <img class="ui tiny image" src="{{'assets/images/naas-diamond.png'|theme}}" style="width:25px" />
            <div class="ui secondary link header">{{'footer.impresumlink'|_}}</div>
        </a>
        <!-- Previous: 'privacy-policy' | staticPage -->
        <a href="{{ 'privacy-policy' | staticPage }}"
           style="color:#979797; display:flex; flex-direction:column; align-items:center; text-align:center;">
            <img class="ui tiny image" src="{{'assets/images/naas-diamond.png'|theme}}" style="width:25px" />
            <div class="ui secondary link header">{{'footer.privacylink'|_}}</div>
        </a>

    </div>
    <div class="ui basic padded segment" style="margin-top: 0px;">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="left floated ten wide left aligned column">
                    <div>
                        {{'footer.copyrights'|_}}
                    </div>
                </div>
                <div class="right floated six wide right aligned column">
                    {% partial 'socialMediaLinks' %}
                </div>
            </div>
        </div>
    </div>
</footer>
