<div class="ui centered center aligned basic segment" style="margin-top: 80px;">
    <form accept-charset="UTF-8" action="https://naasnetwork.us10.list-manage.com/subscribe/post?u=8bde70f9ee10f226bb9de0bfc&amp;id=ee960cd660" class="mailchimp-signup-subscribe-form ui form" id="mailchimp-signup-subscribe-block-our-mailing-list-form" method="post">
        <div class="stackable fields">
            <div class="mailchimp-newsletter-mergefields twelve wide field" id="mailchimp-newsletter-ee960cd660-mergefields">
                <div class="form-item form-type-textfield form-item-mergevars-EMAIL ui labeled input">
                    <div class="ui basic label" style="padding-top: 1em;border:none;">{{'mailing-list'|_}}</div>
                    <input style="border: none;" class="form-text required" id="edit-mergevars-email" maxlength="128" name="EMAIL" placeholder="{{'mailing-list.placeholder'|_}} *" size="25" type="text" />
                </div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;"><input name="b_8bde70f9ee10f226bb9de0bfc_ee960cd660" tabindex="-1" type="text" value="">
            </div>
            <div class="form-actions form-wrapper form-group four wide field" id="edit-actions--2" style="padding-top:0.7em;">
                <input class="newsletter-button" id="edit-submit--2" name="op" type="submit" value="{{'mailing-list.button'|_}}">
            </div>
        </div>
    </form>
</div>
