[viewBag]
==
<div class="ui top fixed menu topAdditionalMenu" style="direction:ltr;">
    <div class="ui container">
        {% for key, site in sitePicker.sites %}
            <a href="{{ site.url }}">{{ site.name }}</a> &nbsp;
            {% if key != (sitePicker.sites|length - 1) %}
            | &nbsp;
            {% endif %}
        {% endfor %}
        <div class="socialMediaIcons">
            {% partial 'socialMediaLinks' %}
        </div>
        <div class="{{this.site.locale =='ar' ? 'left':'right'}} menu">
            {% partial 'navSearch' %}
        </div>
    </div>
</div>
<div class="ui top fixed menu topMainMenu">
    <div class="ui container">
        <a class="item" href="{{'index'|page}}">
            <img class="ui image" src="{{'assets/images/logo.png'|theme}}" width="170px">
        </a>
        <div class="right menu">
            {% partial 'menu-items' items=items %}
        </div>
    </div>

</div>

<div class="ui top menu mobileMenu">
    <div class="ui container">
        <a class="item" href="{{'index'|page}}">
            <img class="ui image" src="{{'assets/images/logo.png'|theme}}" width="170px"/>
        </a>
        <div class="right menu">
            <a href="#" onclick="onToggleMenu();"><i class="bars large icon"></i></a>
        </div>
    </div>
</div>

<div class="ui left sidebar vertical menu mobileMenuContent">
    <div class="item">
        <img class="ui image" src="{{'assets/images/logo.png'|theme}}" width="170px"/>
    </div>
    <div class="item">
        {% partial 'navSearch' %}
    </div>
    {% partial 'menu-items' items=items type="mobile" %}
    <div class="ui divider"></div>
    <div class="item">
        {% for key, site in sitePicker.sites %}
        <a href="{{ site.url }}">{{ site.name }}</a> &nbsp;
        {% if key != (sitePicker.sites|length - 1) %}
        | &nbsp;
        {% endif %}
        {% endfor %}
    </div>

    <div class="item">
        {% partial 'socialMediaLinks' %}
    </div>
    <br><br>
</div>

{% put scripts %}
<script>
    function onToggleMenu() {
        $('.ui.left.sidebar')
            .sidebar({
                dimPage: true,
                transition: 'overlay'
            })
            .sidebar('toggle')
        ;
    };
</script>
{% endput %}
