/*-------------------
|   Fonts
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

/*-------------------
    Navigation
--------------------*/
.ui.top.fixed.menu.topMainMenu {
    margin-top: 27px;
    border: none;
    transition: margin-top ease 0.5s;
    box-shadow: 0px 1px 2px 0px #e6e7e8;
    padding: 16px 0px 16px 0px;
}

.socialMediaIcons {
    margin-left: 19%;
}

.right.menu > div.item > a {
    color: black;
    font-weight: bold;
}

.right.menu > div.item > a:hover {
    color: #ed1d24;
    right: 0px;
}

.menu > .item > a {
    color: black;
    font-weight: normal;
}

.menu > .item > a:hover {
    color: #ed1d24;
}

.navSearch {
    height: 26px;
    margin-right: 25px;
}

div.ui.top.menu.mobileMenu {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    box-shadow: none;
}

.mobileMenuContent a {
    color: black;
}

.mobileMenuContent a:hover {
    color: #ed1d24;
}

.mobileMenuContent .ui.simple.dropdown.item:hover {
    background: #ffffff;

}

div.mobileMenu > div > .right.menu {
    margin-right: 10px;
    margin-top: 8px;
}

div.ui.bottom.sidebar.inverted.vertical.menu.mobileMenuContent {
    top: 60px !important;
}

/* Mobile */

@media (min-width: 898px) {
    div.topAdditionalMenu {
        display: block !important;
    }

    div.topMainMenu {
        display: block !important;
    }

    div.mobileMenu {
        display: none !important;
    }

    div.pusher {
        margin-top: 60px;
    }

    #FlashMessage {
        margin-bottom: 25px;
    }
}

@media (max-width: 898px) {
    div.topAdditionalMenu {
        display: none !important;
    }

    div.topMainMenu {
        display: none !important;
    }

    div.mobileMenu {
        display: block !important;
    }

    div.pusher {
        margin-top: 0px;
    }

    #FlashMessage {
        margin-bottom: 0px;
    }
}

/*-------------------
    Page
--------------------*/


/*-------------------
    Links
--------------------*/

.linkAnimation {
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}

.linkAnimation:hover {
    right: -10px;
}

/*--------------------
|   Questions
----------------------*/
div.ui.repeating.pink.segment {
    border: 2px pink dashed;
    background: #f8f9f9;
}

.field.prefilled label, .field.prefilled textarea, .field.prefilled input {
    color: #2c662d !important;
    border-color: #2c662d !important;
}

.padded.field {
    padding-right: 25px;
    padding-left: 25px;
}

/*--------------------
|   Topics
----------------------*/

img.topicImage:hover {
    filter: grayscale();
}

div.main-slider {
    height: 80vh !important;
}

div.ui.placeholder.basic.segment.slide {
    margin-top: 0px !important;
    background: rgba(0, 0, 0, 0.3) !important;
    overflow: hidden !important;
    padding: 0px !important;
}

img.slide.image.custom.css {
    position: absolute !important;
    z-index: -1 !important;
    right: 0px !important;
    min-width: 100% !important;
    height: 100% !important;
}

.newsletter-button {
    background: transparent;
    color: #ed1c23;
    border: none;
}

.newsletter-button:hover {
    color: #ed1c23;
    font-weight: bold;
    cursor: pointer;
}

.ui.secondary.link:hover {
    color: #ed1c23 !important;
}

.ui.secondary.link {
    color: black !important;
}
